.pagination {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    &__link {
        display: block;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        transition: all 300ms;
        cursor: pointer;

        &.active {
            background: #2E4AB5;
            color: #FFFFFF;
            border-radius: 100%;
        }
    }
}