* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid red;
}

body {
    background: #EFF1F4;
    font-family: Inter;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
}

img {
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #9b9b9b;
}

::-webkit-scrollbar-thumb {
  background: #2E4AB5;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #2E4AB5;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.title {
  color: #000;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #64696D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main {
  &__page {
    margin-left: 360px;
    width: 100%;

    @include media ($lg) {
      margin-left: 0;
    }
  }
  &__container {
    position: relative;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100%;

    @include media ($md) {
      position: static;
    }
  }
}

.black {
  color: #000 !important;
}

.calendar-input-el {
  width: 100%;
}

.input {
  border-radius: 10px;
  background: #EFF1F4;
  border: none;
  padding: 10px 15px;
  font-size: 16px;

  &-radio {
    width: 20px;
    height: 20px;
  }

  &__title {
    margin-bottom: 10px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.vueform-slider .slider-handle {
  transition: all 0.15s ease;
}
.vueform-slider .slider-handle:hover {
  transform: scale(1.05);
}

.slider-connect {
  background: #2E4AB5 !important;
}

.custom-slider {
  height: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    cursor: pointer;

    &__input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        inset: 0;
        background-color: #d9d9d9;
        border-radius: 34px;
        transition: 0.3s;

        &::before {
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        transition: 0.3s;
        }
    }

    &__input:checked + &__slider {
        background-color: #2E4AB5;
    }

    &__input:checked + &__slider::before {
        transform: translateX(20px);
    }

    &:active &__slider::before {
        width: 22px;
    }
}

.button {
    border: 0;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: all 300ms;

    &-delete {
      background: rgba(238, 37, 50, 0.22);
      color: #EE2532;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }

    &:hover {
        outline: 1px solid #000000;
        background: #FFFFFF !important;
        color: #000000;
    }
}

.tariff__modal-content {
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 20px;

  h1 {
      font-size: 24px;
      margin-bottom: 10px;
  }

  h2 {
      font-size: 20px;
      margin-bottom: 10px;
  }
  p {
      font-size: 16px;
      margin-bottom: 10px;
  }
  ul {
      list-style: disc;
      margin-bottom: 10px;
  }
}

.pointer {
  cursor: pointer;
}

.tariff__error {
    padding: 20px;
    text-align: center;
    color: #EE2532;
    font-size: 14px;
    line-height: 1.4;
}

.vc-highlight-content-solid {
  background: #1A3AAD;
  outline: 2px solid rgb(148, 1, 1);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.passangers__message {
    font-size: 14px;
    color: #333;
    line-height: 1.2;
    max-width: 400px;

    .highlight {
        font-weight: 600;
        color: #1A3AAD; // или любой акцентный цвет
    }
}


.checkbox input {
  display: none;
}

.checkmark {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #2E4AB5; 
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}

.checkbox input:checked + .checkmark {
  background-color: #2E4AB5;
  border-color: #2E4AB5;
}

.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.line {
    background: red;
    width: 100%;
    height: 3px;
    display: block;
}

input {
  outline: none;
}

.radio {
  &__container {
    display: flex;
    gap: 10px;
    accent-color: #2E4AB5;
  }
}

.status {
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    white-space: nowrap;
    background: none;
}

.status--blue {
    color: #2E4AB5;
}

.status--green {
    color: #05E347;
}

.status--red {
    color: #EE2532;
}

.status--yellow {
    color: #fad230;
}

.status--gray {
    color: #6d6d6d;
}


.calendar-enter-active,
.calendar-leave-active {
  transition: all 0.25s ease;
}

.modal {
  &__close {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
}

.autocomplete {
    position: relative;
    width: 100%;
}

.autocomplete__li {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms;

  &:hover {
    background: #e6e6e6;
  }
}

.autocomplete__list {
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    max-height: 300px;
    overflow-y: auto;
    z-index: 999;
    padding: 15px;
}

.autocomplete__item {
    padding: 12px 50px 12px 16px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.autocomplete__item:hover {
    background: #F3F6FF;
}

.airport-title {
    font-weight: 400;
    font-size: 15px;
}

.all-airports {
    font-weight: 400;
    font-size: 13px;
    color: #555;
    margin-left: 5px;
}

.airport-sub {
    font-size: 13px;
    color: #777;
    margin-top: 2px;
}

.airport-code {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    color: #1A3AAD;
}

.airport-row {
  display: flex;
  gap: 10px;
  font-weight: 700;
  padding: 5px 10px ;
  cursor: pointer;

  &:hover {
    background: #e1e1e1;
  }
}

.order__block {
  margin-bottom: 30px;
}

.city-row {
  display: flex;
  gap: 10px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  
  &:hover {
    background: #e1e1e1;
  }
}

.passengers__head {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  @include media ($md) {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.ticket__card-layover-info {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    color: #d32f2f;
    margin: 10px 0;
}

.ticket__card-layover-text {
    background: #fdecea;
    padding: 4px 12px;
    border-radius: 6px;
    display: inline-block;
}

.modal-content {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
}

.modal-actions {
  padding: 30px;
}

.modal-actions-button {
  width: 100%;
}

.passengers {
  margin-bottom: 50px;
  font-size: 18px;
}

.calendar-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.calendar-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.25s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.filter-modal-enter-active,
.filter-modal-leave-active {
    transition: all 0.55s ease;
}

.filter-modal-enter-from {
    opacity: 0;
    transform: translateY(100%);
}

.filter-modal-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.filter-modal-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.filter-modal-leave-to {
    opacity: 0;
    transform: translateY(100%);
}
