* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid red;
}

body {
    background: #EFF1F4;
    font-family: Inter;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}