.air__filter {
    width: 400px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
    padding: 15px;
    height: 850px;
    // position: sticky;
    top: 30px;
    left: 0;

    @include media ($md) {
        width: 100%;
        height: 100vh;
    }

    &-title {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 15px;
    }

    &-text {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-block {
        border-bottom: 1px solid #000000;
        padding: 15px 0;
    }

    &-price {
        color: #64696D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-date {
        display: flex;
        justify-content: space-between;
        color: #64696D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 5px 0;
    }

    &-range {
        &-container {
            margin-bottom: 20px;
        }
    }

    &-checkbox {
        &-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        &-info {
            display: flex;
            gap: 10px;
        }
    }
}