.global__filter {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
    max-width: 1206px;
    width: 100%;

    position: absolute;

    @include media ($lg) {
        position: relative;
        box-shadow: none;
        border: none;
        border-radius: 0;
        background: #2E4AB5;
    }

    &__text {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-button {
        &-text {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-container {
            padding: 15px;
            display: flex;
            gap: 20px;
            align-items: center;
            //width: 100%;
            justify-content: center;

            @include media ($lg) {
                background: #FFFFFF;
                border-radius: 10px;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    &-selectors {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #000000;
        padding: 15px;

        @include media ($lg) {
            flex-wrap: wrap;
            border: 0;
            border-radius: 10px;
            background-color: #FFFFFF;
            margin-bottom: 10px;
        }
    }

    &-type {
        display: flex;
        gap: 30px;
        align-items: center;

        &-link {
            display: block;
            display: flex;
            gap: 20px;
            color: #000;
            align-items: center;
        }
    }

    &-path {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &-data {
        display: flex;

        @include media ($lg) {
            flex-direction: column;
            gap: 10px;
            background: #2E4AB5;
        }
    }

    .calendar-input {
        position: absolute;
        z-index: 999;
        top: 72px;
        left: 0;
    }

    &-icon {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &-input {
        border: none;
        width: 210px;

        
        &::placeholder {
            color: #64696D;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        &-container {
            padding: 15px;
            display: flex;
            align-items: center;
            border-right: 1px solid #000;
            
            position: relative;
            
            @include media ($lg) {
                border: 1px solid black;
                background: #FFFFFF;
                border-radius: 10px;
                //margin-top: 10px;
            }
            // &.calendar {
            //     & > span {
            //         width: 300px;
            //     }
            // }
        }
    }
}