.global__filter {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);

    position: absolute;

    &__text {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-button {
        &-container {
            padding: 15px;
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }

    &-selectors {
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #000000;
        padding: 15px;
    }

    &-type {
        display: flex;
        gap: 30px;
        align-items: center;

        &-link {
            display: block;
            display: flex;
            gap: 20px;
            color: #000;
            align-items: center;
        }
    }

    &-path {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &-data {
        display: flex;
    }

    .calendar-input {
        position: absolute;
        z-index: 999;
        top: 72px;
        left: 0;
    }

    &-icon {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &-input {
        border: none;
        width: 210px;

        &::placeholder {
            color: #64696D;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-container {
            padding: 15px;
            display: flex;
            align-items: center;
            border-right: 1px solid #000;

            position: relative;
        }
    }
}