.order__filter {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;

    &-tab {
        max-width: 350px;
        width: 100%;
        background: #FFFFFF;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 10px 30px;
        border-radius: 10px;

        &-list {
            display: flex;
            max-width: 600px;
            width: 100%;
            gap: 30px;
        }

        &-link {
            display: block;
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 5px;
            transition: all 300ms;
            border-radius: 10px;

            &.active {
                color: #FFFFFF;
                background: #2E4AB5;
            }
        }
    }
}