.catalog__card {
    border-radius: 10px;
    background: #EFF1F4;
    padding: 15px;

    &-top {
        overflow: hidden;
        border-radius: 10px;
    }

    &-bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        //align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }

    &-img {
        width: 100%;
        border-radius: 10px;
        transition: all 300ms;
        height: 250px;
        
        &:hover {
            transform: scale(1.1);
        }
    }

    &-cities {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-date {
        color: #64696D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-price {
        color: #2E4AB5;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}