.check__card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    width: 30%;

    @include media ($lg) {
        width: 100%;
        padding: 15px;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-bottom {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    &-text {
        color: #64696D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 0;
    }

    &-center {
        color: #64696D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    &-title {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}