.passenger__card {
    max-width: 850px;
    width: 850px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;

    &-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
        column-gap: 30px;
        margin-top: 30px;
    }

    &-item {
        display: flex;
        justify-content: space-between;
    }

    &-title {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &-buttons {
        display: flex;
        gap: 20px;
    }
}
