.tariffs__card {
    padding: 15px;
    outline: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;

    &.active {
        outline: 2px solid #2E4AB5;
        background: #2e49b533;
    }

    &-top {
        margin-bottom: 30px;
    }

    &-price {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 5px;
    }

    &-li {
        display: flex;
        margin-bottom: 15px;
        gap: 10px;
    }
}