.advertising {
    padding: 150px 0 50px 0;

    @include media ($sm) {
        padding-top: 50px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include media ($lg) {
            flex-direction: column;
        }
    }

    &__sales {
        border-radius: 10px;
        width: 50%;
        background: linear-gradient(74deg, #32EF6B 5.58%, #25BB52 88.56%);

        @include media ($lg) {
            width: 100%;
        }

        &-bottom {
            margin-bottom: 30px;
        }
        
        &-top {
            padding: 15px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__best {
        position: relative;
        width: 50%;
        padding: 15px 30px;

        @include media ($lg) {
            width: 100%;
            height: 500px;
        }

        @include media ($md) {
            width: 100%;
            height: 400px;
        }

        @include media ($sm) {
            width: 100%;
            height: 300px;
        }
        
        &-img {
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            max-width: 100%;
            z-index: -1;
        }
    }
}