.assortment {
    padding: 50px 0;
    margin-top: 100px;

    &__content {
        display: flex;
        gap: 30px;
        position: relative;
        
        @include media ($lg) {
            flex-wrap: wrap;
        }
    }
    
    &__container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}