.assortment {
    padding: 50px 0;

    &__content {
        display: flex;
        gap: 30px;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}