.card {
    width: 100%;
    &__content {
        //width: 800px;
        width: 100%;
        display: flex;
        gap: 20px;
    }

    &__block {
        width: 100%;
    }

    &__form {
        &-title {
            margin-bottom: 20px;
        }

        &-button {
            width: 100%;
            margin-top: 20px;
        }

        &-block {
            background: #FFFFFF;
            padding: 15px;
            border-radius: 10px;
            width: 330px;
            height: 230px;
            margin-top: 30px;
        }
    }
}

.payment__form-input[type="MMYY"] {
    width: 50px;
}

// .payment__form-input {
//     width: 150px;
// }

.payment__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &-title {
        font-size: 14px;
        font-weight: 400;
    }
}