.card {
    width: 100%;
    &__content {
        //width: 800px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include media ($lg) {
            flex-direction: column;
        }
    }

    &__block {
        width: 100%;
    }

    &__form {
        &-title {
            margin-bottom: 20px;
        }

        &-button {
            width: 100%;
            margin-top: 20px;
        }

        &-block {
            background: #FFFFFF;
            padding: 15px;
            border-radius: 10px;
            width: 330px;
            //height: 280px;
            margin-top: 30px;

            @include media ($md) {
                order: 1;
                width: 100% !important;
            }
        }
    }
}

// .payment__form-input[type="MMYY"] {
//     width: 50px;

//     @include media ($lg) {
//         width: 100%;
//     }
// }

.payment__form-input {
    width: 100%;
}

.payment__form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    @include media ($lg) {
        grid-template-columns: repeat(1, 1fr);
    }

    &-title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}