.contacts {
    padding-bottom: 50px;
    
    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
        padding: 30px;
    }

    &__form {
        display: flex;
        gap: 30px;
        margin-top: 30px;

        @include media ($lg) {
            flex-wrap: wrap;
        }
    }
}