.direct {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__center {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 15px;

        @include media ($lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media ($md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__text {
        color: #2E4AB5;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;

        &-img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            border: 1px solid #2E4AB5;
            border-radius: 100%;
            background: #EFF1F4;
            padding: 2px;
        }
    }

    &__item {
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        transition: 300ms;
        width: 265px;
        overflow: hidden;

        &:hover {
            background: #d3d3d3;
        }
        
        &-top {
            display: flex;
            justify-content: space-between;
        }

        &-bottom {
            display: flex;
            gap: 10px;
            margin-top: 5px;
        }
    }

    &__price {
        display: flex;
        gap: 5px;
        align-items: center;
        //height: 20px;

        &-text {
            color: #2E4AB5;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &__timers {
        &-container {
            display: flex;
            gap: 10px;
            margin-left: 50px;
        }
    }

    &__company {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.fade-slide-enter-active, .fade-slide-leave-active {
    transition: all 0.3s ease;
}
.fade-slide-enter-from, .fade-slide-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}
.fade-slide-enter-to, .fade-slide-leave-from {
    opacity: 1;
    transform: translateY(0);
}