.head {
    background: #2E4AB5;
    padding-bottom: 100px;
    position: relative;

    &-seo {
        padding-bottom: 50px;
    }

    // @include media ($lg) {
    //     padding-bottom: 50px;
    // }

    &__filter {
        top: 49px;

        @include media ($lg) {
            top: 60px;
        }

        @include media ($md) {
            top: auto;
        }

        &-from-to {
            top: 40px;
        }
    }

    &__text {
        color: #FFFFFF;
        font-weight: 100;

        @include media ($md) {
            padding-bottom: 50px;
            margin-top: 20px;
        }
    }

    &__content {
        &-seo {
            margin-bottom: 105px;
        }
    }

    &__title {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 20px;

        @include media ($md) {
            font-size: 24px;
            padding-top: 20px;
        }
    }
}