.head {
    background: #2E4AB5;
    padding-bottom: 100px;
    position: relative;

    @include media ($md) {
        padding-bottom: 50px;
    }

    &__filter {
        top: 157px;
        @include media ($md) {
            top: auto;
        }

        &-from-to {
            top: 40px;
        }
    }

    &__title {
        color: #FFF;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 570px;

        @include media ($md) {
            padding-bottom: 50px;
            font-size: 24px;
        }
    }
}