.order {
    &__content {
        background: #ffffff;
        padding: 30px;
        border-radius: 10px;
    }

    &__buttons {
        display: flex;
        gap: 30px;
        justify-content: flex-end;
    }

    &__title {
        color: #2E4AB5;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: 700;

        &-mini {
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        padding-bottom: 30px;
    }

    &__value {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 12px;
    }

    &__item {
        &-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            @include media ($md) {
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    &__button {
        @include media ($md) {
            width: 100%;
        }
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }
}