.passangers {
    padding-bottom: 30px;

    &__button {
        &-message {
            &-error {
                background: red;
                padding: 10px;
                border-radius: 10px;
                color: #FFFFFF;
            }

            &-success {
                background: #05E347;
                padding: 10px;
                border-radius: 10px;
                color: #FFFFFF;
            }
        }
    }

    &__button {
        &-container {
            @include media ($md) {
                width: 100%;
            }
        }

        @include media ($md) {
            width: 100%;
        }
    }

    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
        padding: 30px;

        @include media ($lg) {
            flex-wrap: wrap;
        }

        @include media ($md) {
            padding: 15px;
        }
    }

    &__alert {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &-span {
            color: #2E4AB5;
        }

        &-container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 10px;
            @include media ($lg) {
                flex-wrap: wrap;
            }
        }
    }

    &__switcher {
        display: flex;
        gap: 10px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 20px;

        @include media ($xs) {
            flex-direction: column;
        }
    }

    &__price {
        color: #000;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include media ($xs) {
            font-size: 20px;
        }

        &-container {
            display: flex;
            gap: 30px;
        }
    }

    &__form {
        margin-top: 30px;
        @include media ($lg) {
            flex-wrap: wrap;
        }

        &-switcher {
            &-container {
                width: 250px;

                @include media ($md) {
                    width: 100%;
                    order: 3;
                }
            }
        }

        &-top {
            display: flex;
            justify-content: space-between;
            @include media ($lg) {
                flex-wrap: wrap;
                margin-top: 30px;
                gap: 20px;
            }
        }

        &-input {
            &-select {
                width: 250px;
                
                @include media ($md) {
                    width: 100%;
                }
            }

            &-container {
                width: 250px;
                @include media ($md) {
                    width: 100%;

                    & > .input {
                        max-width: 100%;
                        width: 100% !important;
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            &-modal {
                 gap: 20px;
                flex-wrap: wrap;
            }

            @include media ($lg) {
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }
}

