.passangers {
    padding-bottom: 50px;

    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
        padding: 30px;
    }

    &__alert {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &-span {
            color: #2E4AB5;
        }

        &-container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 10px;
        }
    }

    &__switcher {
        display: flex;
        gap: 10px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 20px;
    }

    &__price {
        color: #000;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &-container {
            display: flex;
            gap: 30px;
        }
    }

    &__form {
        margin-top: 30px;

        &-switcher {
            &-container {
                width: 250px;
            }
        }

        &-top {
            display: flex;
            justify-content: space-between;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
}