.payment {
    padding-bottom: 50px;

    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
        padding: 30px;
    }

    &__price {
        display: flex;
    }

    &__tab {
        @include media ($lg) {
            margin-bottom: 20px;
        }
    }

    &__info {
        //height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media ($lg) {
            margin-top: 20px;
        }

        &-button {
            display: flex;
            gap: 10px;

            @include media ($lg) {
                flex-wrap: wrap;
            }
        }
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 400px;
        width: 100%;

        @include media ($lg) {
            grid-template-columns: repeat(1, 1fr);
        }

        border-radius: 10px;
        background: #EFF1F4;

        padding: 15px;
        gap: 15px;

        &-title {
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;
        }

        &-input {
            background: #FFFFFF !important;

            @include media ($lg) {
                width: 100%;
            }
        }
    }

    &__balance {
        display: flex;  
        align-items: center;
        gap: 10px;
    }

    &__bottom {
        margin-top: 50px;

        &-radio {
            display: flex;
            gap: 30px;

            @include media ($lg) {
                flex-wrap: wrap;
            }
        }

        &-card {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            @include media ($lg) {
                flex-wrap: wrap;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;

        @include media ($lg) {
            flex-wrap: wrap;
        }

        &-right {
            display: flex;
            gap: 10px;
        }
    }
}