.tariffs {
    padding-bottom: 30px;

    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
        padding: 30px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 30px;

        @include media ($lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media ($md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}