.seo {
    padding: 50px 0;

    &__content {
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media ($md) {
            flex-direction: column;
            padding: 15px;
        }
    }
    
    &__img {
        @include media ($md) {
            width: 100%;
        }
    }

    &__title {
        color: #000;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
    }

    &__text {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__info {
        max-width: 600px;

        &-item {
            margin-bottom: 15px;
        }
    }

    &__li {
        &.ul {
            list-style-type: disc !important;
        }

        &.ol {
            list-style: decimal !important;
        }
    }

    &__list {
        &-ul {
            list-style: circle !important;  
            padding-left: 1.5rem;           
            margin: 0.5rem 0 1rem;           
        }

        &-ol {
            list-style: decimal !important;
            padding-left: 1.5rem;
            margin: 0.5rem 0 1rem;
        }
    }
}