.navbar {
    background: #2E4AB5;
    padding: 50px 0 150px 0;

    
    &__other {
        padding: 50px 0 50px 0;
    }
    
    &__avia {
        padding: 50px 0 0px 0;
    }
    @include media ($lg) {
        padding-bottom: 70px;
    }

    @include media ($md) {
        padding-bottom: 50px;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        &-img {
            @include media ($xs) {
                width: 140px;
            }
        }
    }

    &__actions {
        &-list {
            display: flex;
            gap: 30px;

            @include media ($xs) {
                gap: 10px;
            }
        }

        &-li {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FFFFFF;
            cursor: pointer;

            @include media ($md) {
                font-size: 12px;
            }
        }
    }

    &__actions-burger {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        padding: 5px;

        .navbar__line {
            width: 100%;
            height: 3px;
            background-color: #ffffff;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &--active {
            .navbar__line:nth-child(1) {
                transform: rotate(45deg) translate(4px, 5px);
            }

            .navbar__line:nth-child(2) {
                opacity: 0;
            }

            .navbar__line:nth-child(3) {
                transform: rotate(-45deg) translate(4px, -5px);
            }
        }
    }
}

.navbar__line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease;
}