.navbar {
    background: #2E4AB5;
    padding: 50px 0 150px 0;
    
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__actions {
        &-list {
            display: flex;
            gap: 30px;
        }

        &-li {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}