.catalog__slider {
    position: relative;

    &-button {
        position: absolute;
        top: 0;
        z-index: 9;
        top: 47%;

        @include media ($md) {
            display: none;
        }

        &--prev {
            left: -30px;
        }

        &--next {
            right: -30px;
        }
    }

    &-swiper {
        &-slide {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            @include media ($lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media ($md) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}