.payment__tab {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media ($md) {
        width: 100%;
    }

    &-item {
        width: 250px;
        display: flex;
        gap: 30px;
        padding: 15px;
        border: 3px solid #D9D9D9;
        border-radius: 10px;

        @include media ($md) {
            width: 100%;
        }
    }

    &-img {
        height: 50px;
        width: 100px;
        object-fit: contain;
    }
}