.payment__tab {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
        width: 250px;
        display: flex;
        gap: 30px;
        padding: 15px;
        border: 3px solid #D9D9D9;
        border-radius: 10px;
    }

    &-img {
        height: 50px;
        width: 100px;
        object-fit: contain;
    }
}