.alert {
    &__modal {
        width: 100%;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        background: #0000004e;
        backdrop-filter: blur(1.5px);
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;

        &-content {
            background: #FFFFFF;
            max-width: 470px;
            width: 100%;
            //height: 300px;
            border-radius: 10px;
            padding: 30px;
        }

        &-header {
            background: #2E4AB5;
            padding: 15px;
            color: #ffffff;
            border-radius: 10px;
        }

        &-text {
            margin-top: 20px;
        }

        &-actions {
            margin-top: 15px;
            display: flex; 
            gap: 10px;
        }
    }
}