.booking {
    &__modal {
        width: 100%;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        background: #0000004e;
        backdrop-filter: blur(1.5px);
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;

        
        &-content {
            &.delete {
                max-width: 450px;
            }

            &.passenger{
                max-width: 900px;
            }
            max-width: 800px;
            width: 100%;
            background: #FFFFFF;
            border: 10px;
            padding: 30px;
            border-radius: 10px;

            @include media ($md) {
                padding: 15px;
            }
        }

        &-actions {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            @include media ($md) {
                flex-wrap: wrap;
                gap: 10px;

                & .button {
                    width: 100%;
                }
            }
        }
    }
}